@import '../../styles/variables';

.react-paginate {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  padding: 0 5rem;
  font-size: 14px;
  gap: 10px;
  width: fit-content;
  margin:0 auto;
  

  li {
    a {
      border-radius: 5px;
      padding: 5px 10px;
      border: gray 1px solid;
      cursor: pointer;
    }
  }

  .previous,
  .next,
  .break {
    a {
      border-color: transparent;
    }
  }

  .selected {
    a {
      background-color: $primary-color;
      border-color: transparent;
      color: white;
      min-width: 32px;
    }
  }

  .disabled {
    a {
      color: grey;
    }
  }

  .disable,
  .disabled {
    a {
      cursor: default;
    }
  }
}