.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  
    button {
      padding: 5px 10px;
      margin: 0 5px;
      background-color: #0F1848;
      color: white;
      border: none;
      border-radius: 3px;
      cursor: pointer;

      &:hover {
        background-color: #FF6D18;
        color: #000;
      }
  
      &:disabled {
        background-color: #c0c0c0;
        cursor: not-allowed;
      }
    }
  
    span {
      margin: 0 10px;
    }
  }
  