@import "../../styles/variables";

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

.cart-body {
  width: 100%;
  padding: 10px;
  font-family: "Inter", sans-serif;

  .spinerloader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #0f1848;
    display: flex;
    align-items: center;
    gap: 4px;
    z-index: 10;
    background-color: white;
  }

  .cart-header {
    // width: 100%;
    margin-left: 50px;
    margin-right: 50px;

    .cart-header-contents {
      .clear-cart {
        display: flex;
        align-items: center;
        gap: 20px;

        span {
          display: flex;
          align-items: center;
          border: 1px solid $primary-color;
          // border-radius: 10px;
          padding: 5px;
          background-color: $primary-color;
          color: white;
        }

        span:hover {
          background-color: $secondary-color;
          color: white;
          cursor: pointer;

          // padding: 5px;
          p {
            display: block;
            color: black;
          }
        }
      }

      // width: 100%;

      & {
        margin-right: 80px;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        font-weight: bolder;
      }
    }
  }

  .cart-data {
    // width: 100%;
    margin-left: 50px;
    margin-right: 50px;
    height: 57vh;
    // border: 1px solid red;
    overflow-x: hidden;
    /* Allows horizontal scrolling */
    overflow-y: auto;

    .retrieved-data {
      width: 100%;

      .cart-retrieved-data {
        display: flex;
        flex-direction: row;
        gap: 10px;
        margin-bottom: 4px;
        padding: 5px;

        img {
          height: 150px;
          width: 200px;
        }

        .product-data {
          // border: 1px solid red;
          width: 70%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          .left-quantity {
            color: red;
          }

          .product-actions {
            display: flex;
            gap: 10px;
            align-items: center;

            p {
              cursor: pointer;
            }

            p:hover {
              background-color: $secondary-color;
              border: 1px solid black;
              border-radius: 5px;
              color: white;
              padding: 5px;
            }

            hr {
              width: 2px;
              height: 30px;
            }

            form {
              display: flex;
              gap: 10px;

              .qty-input {
                background-color: grey;
                display: flex;
                border-radius: 10px;
                align-items: center;
                padding: 03px;

                input {
                  width: 45px;
                  height: 30px;
                  border: none;
                  border-radius: 10px;
                  padding: 5px;
                  // background-color: grey;
                }
              }

              button {
                background-color: $primary-color;
              }

              button:hover {
                background-color: $secondary-color;
                color: white;
              }
            }
          }
        }

        .product-price {
          width: 10%;
          font-weight: bold;
          align-items: center;
          justify-content: center;

          span {
            display: none;
          }
        }
      }
    }
  }

  .cart-footer {
    // border: 1px solid red;
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 05px;

    button {
      background-color: $primary-color;
    }

    button:hover {
      background-color: $secondary-color;
      color: white;
    }
  }

  @media screen and (max-width: 768px) {
    padding: 0;
    margin-top: 0;
    margin-left: 0px;
    margin-right: 0px;

    .cart-header {
      font-size: smaller;
      margin-left: 0px;
      margin-right: 0px;

      .cart-header-contents {
        width: 100%;

        h5 {
          display: none;
        }

        .clear-cart {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          // border: 1px solid red;

          // gap: 20px;
          span {
            display: flex;
            align-items: center;
            border: 1px solid $primary-color;
            // border-radius: 10px;
            padding: 2px;
            background-color: $primary-color;
            color: white;
          }

          span:hover {
            background-color: $secondary-color;
            color: white;
            cursor: pointer;

            // padding: 5px;
            p {
              display: block;
              color: black;
            }
          }
        }

        // width: 100%;

        & {
          margin-right: 80px;
          display: flex;
          justify-content: space-between;
          align-items: baseline;
          font-weight: bolder;
        }
      }
    }

    .cart-data {
      // width: 100%;
      margin-left: 0px;
      margin-right: 0px;
      // height: 57vh;
      // border: 1px solid red;
      overflow-x: hidden;
      /* Allows horizontal scrolling */
      overflow-y: auto;

      .retrieved-data {
        width: 100%;

        .cart-retrieved-data {
          display: flex;
          flex-direction: column;

          margin-bottom: 4px;
          padding: 5px;

          img {
            height: 150px;
            width: 200px;
          }

          .product-data {
            // border: 1px solid red;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .left-quantity {
              color: red;
            }

            .product-actions {
              display: flex;
              gap: 10px;
              align-items: center;

              p {
                cursor: pointer;
              }

              p:hover {
                background-color: $secondary-color;
                border: 1px solid black;
                border-radius: 5px;
                color: white;
                padding: 5px;
              }

              hr {
                width: 2px;
                height: 30px;
              }

              form {
                display: flex;
                gap: 10px;

                .qty-input {
                  background-color: grey;
                  display: flex;
                  border-radius: 10px;
                  align-items: center;
                  padding: 03px;

                  input {
                    width: 45px;
                    height: 30px;
                    border: none;
                    border-radius: 10px;
                    padding: 5px;
                    // background-color: grey;
                  }
                }

                button {
                  background-color: $primary-color;
                }

                button:hover {
                  background-color: $secondary-color;
                  color: white;
                }
              }
            }
          }

          .product-price {
            width: 10%;
            font-weight: bold;
            align-items: center;
            justify-content: center;

            span {
              display: block;
            }
          }
        }
      }
    }
  }
}