.product-name {
    font-size: 18px;
}
.order-product-details {
    display: flex;
    justify-content: start;
    gap: 20px;
    font-size: 13px;
    margin-top: 10px;
}

.page-title {
    text-align: center;
    font-size: 2rem;
  }

  .checkout-title {
    text-align: center;
    margin-bottom: 20px;
    margin: 20px auto;
  }