@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin vertical-flex {
    @include flex-center;
    flex-direction: column;
}

@mixin horizontal-flex {
    @include flex-center;
    flex-direction: row;
}