$primary-color: #0F1848;
$secondary-color: #FF6D18;
$font-stack: 'Helvetica, sans-serif';
$icon-color: $secondary-color;



$background-color: #f8f9fa;
$text-color: #fff;
$border-color: black;
$focus-shadow: rgba(128, 189, 255, 0.5);
$btn-hover-color: #CC5612;
$btn-loading-color: #CC5612;


// Font sizes

$input-font-size: 14px;
$btn-font-size: 14px;


//padding dimensions

$btn-padding:10px;
