@import "./variables";
@import "./mixins";

header {
  padding: 1rem;

  nav {
    @include flex-center;
    justify-content: space-between;
    position: relative;

    .logo {
      img {
        height: 120px;
        width: 160px;
      }
    }

    .hamburger {
      display: none;

      @media (max-width: 768px) {
        display: block;
        cursor: pointer;
        position: absolute;
        top: 50%;
        right: 1rem;

        i {
          font-size: 2rem;
          color: #0f1848;
        }
      }
    }

    .menu {
      list-style: none;
      display: none;

      @media (min-width: 769px) {
        display: flex;
      }

      li {
        margin: 0 1rem;
        border-radius: 25px;

        a {
          display: flex;
          padding: 15px 20px;
          text-decoration: none;
          color: $primary-color;
          font-family: $font-stack;
          font-size: 1.5rem;
          font-weight: 50;
        }

        i {
            font-size: 1.4rem;
            padding-right: 1rem;
            color: #0f1848;
            position: relative; // Add this to make sure the child can be positioned absolutely
            display: flex;
            justify-content: center; // Center horizontally
            align-items: center; // Center vertically
          
            .cartbadge {
              position: absolute;
              border-radius: 50px;
              top: 50%; // Vertically center
              left: 50%; // Horizontally center
              transform: translate(-50%, -50%); // Adjust for the badge's own dimensions
              font-size: 10px;
              padding: 2px;
              background-color: #ff6d18;
            }
          }
      }

      .link {
        text-decoration: none;
        color: $primary-color;
        font-family: $font-stack;
        font-size: 1.5rem;
        font-weight: 50;
        cursor: pointer;
      }

      .link:hover {
        background-color: $primary-color;
        color: $secondary-color;
      }

      li:hover {
        background-color: $primary-color;

        a {
          color: $secondary-color;
        }

        i {
          color: $secondary-color;
          .cartbadge{
            color: #0f1848;
          }
        }
      }
    }

    .menu.open {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      background-color: white;
      z-index: 10;
      width: 90%;
      border-radius: 15px;

      li {
        margin: 1rem 0;
        width: 100%;
      }

      li:hover {
        background-color: $secondary-color;

        width: 70%;
        margin-left: 15%;
        transition: 0.4s ease-in-out;
        a,
        i {
          color: $primary-color;
        }
        
      }
    }
  }
}
