@import 'example';
@import 'exampleList';
@import 'product';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    width: 100%;
    height: 100%;
}
.errors {
    color: red;
    margin-bottom: 1px;
  }
  
  .navLink {
    text-decoration: none;
    color: unset;
  }

