.popup-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5) !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .popup-content-modal {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 100%;
  }
  
  .popup-content-modal h3 {
    margin-bottom: 20px;
  }
  
  .popup-content-modal input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .popup-content-modal button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .popup-content-modal button:first-of-type {
    background-color: #007bff;
    color: #fff;
  }
  
  .popup-conten-modalt button:last-of-type {
    background-color: #ccc;
    color: #000;
  }
  