@import '../../styles/variables';

.menuContainer{
    //background-color: aliceblue;
    position: absolute;
    z-index: 3;
    padding:5px;
    width:200px;
    border: 2px solid rgb(232, 231, 231);
    border-radius: 10px;
    background-color: white;
    font-family: "Inter",sans-serif;

    p{
        font-size: 14px;
        font-weight: 600;
        color:#323C47;
        padding:10px 0 10px 10px;
    }
    ul{
        list-style: none;
        
        li{
            width:100%;
            padding:10px 0 10px 10px;
            font-size: 14px;
            font-weight: 600;
            color:$primary-color;
            border-radius: 5px;
            cursor: pointer;
        }
    
        li:hover{
            color:#323C47;
            background-color: rgb(186, 202, 215);
        }
    }
}