@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

$primary-color: #FF6D18;
$secondary-color: #0F1848;
$text-light: #f0f0f0;
$error: #ff0000;
$success: #28a745;
$text-dark: #000;

body {
  background-color: $text-light;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

.resetPasswordContainer {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  margin: 100px auto;
  padding: 20px;
  display: grid;

  label {
    margin: .4rem 0;
    display: block; 
  }

  input {
      border: 1px solid #ccc;
      border-radius: 4px;
      padding: 10px;
      width: calc(100% - 22px);
    }

  h1 {
    color: $text-dark;
    text-align: center;
    font-size: 20px;
    margin-bottom: 1rem;
  }

  .password-input-container {
    position: relative;
    display: flex;
    align-items: center;

    .password-toggle-icon {
       position: absolute;
      right: 30px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      color: #888;
    }
  }

  .password-strength {
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 10px;

    &.weak {
      color: #ff0000;
    }

    &.medium {
      color: #ffa500;
    }

    &.strong {
      color: #28a745;
    }
  }

  .passwords-match-error {
    color: $error;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  button.btn-change {
    background-color: $secondary-color;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    transition: all .4s;
    margin-top: 10px;

    &:hover {
      background-color: $primary-color;
    }
  }
}
