@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');


$primary-color: #FF6D18;
$secondary-color: #0F1848;
$text-light: #f0f0f0;
$text-dark: #000;
.container_reset {
  background-color: $text-light; 
  padding: 20px;
  border-radius: 8px;
  max-width: 500px;
  margin: 50px auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: 'Inter', sans-serif;
;
  
  h1 {
    color: $text-dark;
    text-align: center;
    font-size: 20px;
    margin-bottom: 1rem;
  }
  form{
    width: 100%;
  }
  label{
    font-weight: 600;
    margin-top: 1rem;
    line-height: 1.5;
  }
  input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  button {
    background-color: $secondary-color;
    color: white;
    cursor: pointer;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    transition: all .4s;
    margin-top: 10px;

    &:hover {
      background-color: $primary-color;
    }
  }


}